@import '../../../theme/variables.scss';

.centerAlign {
    justify-content: center;
    align-items: center;
}

.logoImage {
    justify-content: center;
    width: 100px;
    height: 100px;
}

.loginContainer {
    width: 450px;
    margin-top: 150px;
    border: thick solid $purple;
    background-color: $gray;
}

.loginHeading {
    @extend %headingFont
}

.labelText {
    @extend %titleFont
}

.loginButton {
    color: $white; 
    background-color: $purple;
    width: 100px;
    height: 50px;
    font-size: 20px;
}
.loginButton:hover {
    color: $purple;
    background-color: $white;
    border: thin solid $purple;
}

.redirectLink {
    color: $purple;
}

.redirectLink:hover {
    color: $black;
}