/* Base theme color */
$purple: #912D8A;
$white: #FFFFFF;
$black: black;
$lightGray: #BFBFBF;
$darkGray: #555555;
$red: red;

/* Heading font */
%headingFont {
    font-size: 30px;
    font-weight: bolder;
    color: $purple;
}

/* Title font */
%titleFont {
    font-size: 18px;
    font-weight: bold;
    color: $black;
}

/* Error font */
%errorFont {
    font-size: 13px;
    color: $red;
    font-weight: 600;
}

/* Button */
%button {
    color: $white !important;
    background-color: $purple !important;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

/* Button hover */
%buttonHover {
    color: $purple !important;
    background-color: $white !important;
    border: thin solid $purple;
}

/* Button active */
%buttonActive {
    color: $black !important;
    background-color: $darkGray !important;
    border: thin solid $black;
}

/* Button disabled */
%buttonDisabled {
    color: $white !important;
    background-color: $darkGray !important;
}