/* Base theme color */
$purple: #912D8A;
$white: #FFFFFF;
$black: black;
$gray: #BFBFBF;
$red: red;

/* Heading font */
%headingFont {
    font-size: 30px;
    font-weight: bolder;
    color: $purple;
}

/* Title font */
%titleFont {
    font-size: 18px;
    font-weight: bold;
    color: $black;
}

/* Error font */
%errorFont {
    font-size: 13px;
    color: $red;
    font-weight: 600;
}